<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onehilltech.gatekeeper.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/MaterialDesign">

        <activity android:name=".NewAccountActivity"/>

        <service
            android:name=".gcm.GcmRegistrationIntentService"
            android:exported="false">
        </service>

        <service
            android:name=".gcm.GcmInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

	</application>

</manifest>
