<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onehilltech.gatekeeper.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/gatekeeper_name"
        android:theme="@style/MaterialDesign">

    </application>

</manifest>
